.FavoritesCityContainer {
    background-color: rgba(110, 108, 106, 0.287);
  padding: 30px;
  margin-top: 20px;
  display: flex;
  width: 40%;
  justify-content: space-between;
}

@media  screen and (max-width: 768px) {
   .FavoritesCityContainer {
       flex-direction: column;
       align-items: center;
   }
    
}
.FavoritesCityOptions{
    justify-content: end;
}

.FavoritesLeft {
    display: flex;
    color: white;
}

.FavoritesCityName {
    margin-right: 10px;
    
}