body {
  background-color: rgb(38, 41, 41);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  
}

.AppContainer {
  background-color: rgba(110, 108, 106, 0.287);
  padding: 30px;
}


@media  screen and (max-width: 768px) {
    .AppContainer {
      width: 86%;
    }
    
}


